<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoIDE_Launcher.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ArduinoIDE_Launcher.Properties.Settings1>
            <setting name="Recent01" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent02" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent03" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent04" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent05" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent06" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent07" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent08" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent09" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent10" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent11" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent12" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent13" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent14" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent15" serializeAs="String">
                <value />
            </setting>
            <setting name="Recent16" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentMax" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RecentNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Recent00" serializeAs="String">
                <value />
            </setting>
            <setting name="ArduinoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpdated" serializeAs="String">
                <value>False</value>
            </setting>
        </ArduinoIDE_Launcher.Properties.Settings1>
    </userSettings>
</configuration>
